lib/**/obj
lib/**/.vs
lib/.vs
lib/packages
lib/**/OpenTK.dll.config
lib/tools
.vscode
build/linerider.exe
build/OpenTK.xml
build/OpenTK.dll.config
*.dll
*.pdb
*.user
*.trk
*.sol
*.exe
*.mdb
src/obj
src/.vs